.ai-projects .scroll-bar ul{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 0px;
    align-items: center;
    /* justify-content: space-evenly; */
}
.container {
    position: relative;
    height: 500px;
    width: 450px;
    background-color: linear-gradient(120deg, #d2b48c, #1c1c22, #d2b48c, #1c1c22);
    border-radius: 30px;
    padding: 13px;
    margin: 10px;
    z-index: 1;
    overflow: hidden;
    transition: transform 0.3s ease;
  }

.container img{
    border-radius: 30px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    height: 200px;
    width: 100%;
}

.scroll-bar{
    overflow-y: auto;

}

.container h4{
    font-size: 18px;
    margin: 15px;
    margin-left: 12px;
    margin-right: 12px;
}

.container p{
    margin-left: 12px;
    margin-right: 12px;
    justify-content: stretch;
}

.skills{
    display: flex;
    justify-content: flex-start;
    
    /* align-items: start; */
    font-size: 20px;
    margin-left: 12px;
    margin-right: 12px;
    margin-top: 20px;
}

.skill{
    margin: 4px;
    border: 2px solid grey;
    border-radius: 6px;
    padding: 4px;
}

.ai-projects{
    display: flex;
    align-items: center;
    
    margin: 50px;
    margin-top: 0px;
}

.scroll-bar ul{
    border: none;
    background-color: #1c1c22;
    width: 100%;
    display: flex;
    justify-content:center ;
}
