/* Mobile hamburger icon */
.mobile-menu-icon {
  display: none;
  font-size: 24px;
  color: white;
  cursor: pointer;
  padding: 10px;
  z-index: 1000;
}

.navbar{
  display: flex;
  justify-content: space-between;
  margin-left: 115px;
  /* margin-right: 50px; */ 
  width: 85%;
  padding: 5px;
  margin-top: 10px;
  
  /* margin: 10px; */
  align-items: center;
  text-align: center;
}
/* Mobile dropdown menu */
.mobile-dropdown {
  position: absolute;
  top: 60px;
  right: 10px;
  background-color: #222;
  border-radius: 10px;
  z-index: 999;
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
}

.mobile-dropdown ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.mobile-dropdown ul li {
  padding: 10px 0;
  color: white;
  border-bottom: 1px solid #444;
  cursor: pointer;
}

.mobile-dropdown ul li:last-child {
  border-bottom: none;
}

/* Only for mobile view */
@media screen and (max-width: 768px) {
  

  .navbar-left,
  .navbar-right,
  .hire-me {
    display: none;
  }
  .navbar{
    display: flex;
    align-items: flex-end;
    width: 100%;
    margin: 0px;
    padding: 15px;
    justify-content: end;
    padding-bottom: 0px;
  }
  .mobile-menu-icon {
    display: flex;
    align-items: flex-end;
  }
}
