.leadership{
   
    background-color: rgb(249, 247, 247);
    height: 155px;
    width: 550px;
    border-radius: 50px;
    padding: 20px;
    margin:auto;
    border: 2px solid #1c1c22;
    background: linear-gradient(135deg, #D2B48C, white);
}
.line{
    height: 20px;
    width: 20px;
    color: black;
}
.leadership-skills{
    display: flex;
    gap: 5px;
    align-items: center;
    height: 50px;
    width: 130px;
    margin: 10px;
    color: black;
}
.leadership ul{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}
.leadership-skills img{
    height: 30px;
    width: 30px;
}

.leadership .heading{
    display: flex;
    justify-content:space-around;
    margin-bottom: 20px;
    color: black;
}

@media (max-width:768px){
   
    .leadership{
        height: auto;
        width: auto;
        margin-left: 10px;
        margin-top: 20px;
        margin-right: 10px;
        
    }

    .leadership-skills{
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        width: auto;
        
    }
}